.App {
  height: 100%;
}

html, body, #app, #app>div, #root {
  height: 100%;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Input-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0rem;
}

.Button {
  width: 10rem;
  margin: 1rem;
}

.Button-container {
  display: flex;
  justify-content: center;
}

.Vert-container {
  display: flex;
  flex-direction: column;
}

.Hadamard-gate{
  width: 2rem;
  height: 2rem;
  background-color: #61dafb;
  text-align: center;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px 2px;
}

.Hadamard-column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2px 2px;;
}
.Hadamard-column:hover, .Oracle:hover, .Diffuser:hover {
  opacity: 0.5;
}


.Graph-row {
  margin-left: 0.5rem;
}

.Qubit {
  background-color: #82c2ff;
  color: white;
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px 2px;
}

.Circuit-row {
  display: flex;
}

.Iterator{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Oracle {
  background-color: #63a7ff;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 2px 10px;
  height: 100%;
}

.Level-slider{
  width: 5rem;
}
.Level-slider-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Diffuser {
  background-color: #458CFF;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px 2px;
  height: 100%;
}

.Iterator-container {
  margin-right: 0.5rem;
  
}

.Solutions-values-row {
  display: flex;
  flex-direction: row;
  background-color: cornflowerblue;
  color:aliceblue;
  margin-left: 0.5rem;
  max-width: 5rem;
}
.solution-value {
  margin: 0.5rem;
}

.Info-button-container {
  display: flex;
  justify-content: right;
}

.Grover-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 2rem;
}

.Page-container {
  height: 100%;
  margin-bottom: 2rem;
}

.Loading-container {
  display: flex;
  justify-content: center;
}